<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

{# <script src="https://www.google.com/recaptcha/api.js" async defer></script> #}

{% cache for 4 weeks %}
  {% include '/_partials/_favicon' %}
{% endcache %}

{% include '/_partials/_load-css' %}
