{% spaceless %}
  {% cache for 4 weeks %}
    <link rel="preload"
      href="//cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      as="style" />
    <link rel="stylesheet"
      href="//cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <link id="u-theme-google-font"
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" />
    <link id="u-page-google-font"
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i|PT+Sans:400,400i,700,700i|Lalezar:400" />
    <style>
      {# {% include '_inline-css/site-fonts.css' %} #}
    </style>

    {% include '_inline-css/critical-css' %}
  {% endcache %}
{% endspaceless %}
