{% spaceless %}
  {% cache for 4 weeks %}
    <script type="text/javascript">
      {{ source('_inline-js/_lazyload-image-shim.js') }}
    </script>
  {% endcache %}
  <script type="text/javascript"
    src="{{ mix('js/app.min.js') }}"
    async></script>
{% endspaceless %}
