{% include '/_shared/componentsCss' with {
  nameFolder: component.type
} only %}

<section {{ 'data-' ~ component.type }}>
  Ipsum deleniti culpa architecto blanditiis atque Minus magni laborum ex rem
  accusantium. Amet maiores nihil laborum aspernatur dolorem Reprehenderit quo
  eaque porro enim error? Quisquam minus eum veniam saepe laborum.
</section>

{% include '/_shared/componentsJs' with {
  nameFolder: component.type
} only %}
