* {
  box-sizing: border-box;
  &:focus {
    box-shadow: 0 0 0 0 !important;
    outline: -webkit-focus-ring-color auto 0px;
  }
}

ul {
  list-style: none !important;
}

a,
a:focus,
a:hover {
  outline: none;
  text-decoration: none !important;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
}

body {
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  color: var(--a-negro-unops);
  background-color: var(--pale-grey);
  letter-spacing: 0.5px;
}

footer {
  margin-top: auto;
}

.hidde {
  display: none;
}

.masterCategory {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  color: var(--a-azul-unops);
  @media (max-width: 991.98px) {
    font-size: 30px;
  }
}
