{% extends '_layouts/global-variables' %}

{% block htmlPage -%}
  {% minify %}
  <!DOCTYPE html>
  <html lang="{{ craft.app.language|slice(0, 2) }}">
    <head>
      {% include '_partials/_global-head' %}

      {% block customHead %}

      {% endblock %}
    </head>
    <body>
      {% include '_partials/_header' -%}

      {% block main -%}
        <main>
          {% block content %}

          {% endblock %}
        </main>
      {% endblock %}

      {% block modals -%}

      {% endblock %}

      {% include '_partials/_sideBar' -%}

      {% include '_partials/_footer' -%}

      {% include '_partials/_load-js' -%}
    </body>
  </html>
  {% endminify %}
{% endblock %}
