{% extends '_layouts/base-web-layout' %}

{%- block content -%}
  {% set components = entry.components.all() %}
  {% if (components|length) > 0 %}
    {% for component in components %}
      {% include 'components/' ~ component.type %}
    {% endfor %}
  {% endif %}
{%- endblock -%}
