%animateHidden {
  opacity: 0;
  transform: scale(0.95) translateX(50px);
  visibility: hidden;
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1),
    opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1),
    visibility 1s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@mixin showAccion($time) {
  visibility: visible;
  opacity: 1;
  transform: none;
  transition-delay: $time;
}

%animateShow {
  @include showAccion(400ms);
}

%animateShowOther {
  @include showAccion(600ms);
}

%img-absolute {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}
